language: java
jdk: oraclejdk8
deploy:
  provider: cloudfoundry
  username: varunkrishna9825@gmail.com
  password: *****
  api: https://api.run.pivotal.io
  organization: carsaleapp
  space: development
  manifest: manifest.yml
script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install
